[package]
edition.workspace = true
name              = "moltis-gateway"
version.workspace = true

[dependencies]
anyhow                = { workspace = true }
async-trait           = "0.1"
axum                  = { workspace = true }
axum-server           = { optional = true, workspace = true }
directories.workspace = true
futures               = { workspace = true }
hostname              = "0.4"
include_dir           = { optional = true, version = "0.7" }
moltis-agents         = { workspace = true }
moltis-canvas         = { workspace = true }
moltis-channels       = { workspace = true }
moltis-common         = { workspace = true }
moltis-config         = { workspace = true }
moltis-cron           = { workspace = true }
moltis-media          = { workspace = true }
moltis-onboarding     = { workspace = true }
moltis-oauth          = { workspace = true }
moltis-plugins        = { workspace = true }
moltis-projects       = { workspace = true }
moltis-protocol       = { workspace = true }
moltis-routing        = { workspace = true }
moltis-sessions       = { workspace = true }
moltis-skills         = { workspace = true }
moltis-telegram       = { workspace = true }
moltis-tools          = { workspace = true }
pulldown-cmark        = { default-features = false, features = ["html"], version = "0.12" }
rcgen                 = { optional = true, workspace = true }
reqwest               = { workspace = true }
rustls                = { optional = true, workspace = true }
rustls-pemfile        = { optional = true, workspace = true }
serde                 = { workspace = true }
serde_json            = { workspace = true }
sqlx                  = { workspace = true }
tokio                 = { workspace = true }
tokio-rustls          = { optional = true, workspace = true }
tokio-stream          = { workspace = true }
tokio-tungstenite     = { workspace = true }
toml                  = { workspace = true }
tower-http            = { features = ["cors"], version = "0.6" }
tracing               = { workspace = true }
tracing-subscriber    = { workspace = true }
uuid                  = { workspace = true }

[features]
default = ["tls", "web-ui"]
tls     = ["dep:axum-server", "dep:rcgen", "dep:rustls", "dep:rustls-pemfile", "dep:tokio-rustls"]
web-ui  = ["dep:include_dir"]

[dev-dependencies]
reqwest           = { workspace = true }
sqlx              = { workspace = true }
tempfile          = "3"
tokio-tungstenite = { workspace = true }
